
/*content*/
.nav_right{width:770px;height:auto;background:#FFF;margin-left:180px;margin-top:25px;font-size:14px;min-height:500px;}
.one{height:66px; width:770px;border-bottom:1px solid #e3dbdb;}
.one span{font-size:18px;font-weight:500;font-family:"微软雅黑";line-height:65px;margin-left:50px;}
.two{width:730px;height:50px;line-height:40px;}
.three{border: 1px solid #e3dbdb;width:730px; }
.four{background-color:#fffcee;height: 40px;border: 1px solid #e3dbdb;}
.four td{padding-left: 30px;}
.check_a{padding-bottom: 30px;width:70px;}
.picture{width:120px;}
.line{color:#000;width:100px;}
.numbers{color:#000;width:70px;}
.eight{width:730px;height:40px;border-top:2px solid #e3dbdb;line-height:40px;}
#pages{float:right;padding-right:40px;}
#pages li{float:left;padding-left:40px;}
.numss{color:#f26917;}
.next{float:right;margin-top:10px;border:2px solid #e3dbdb;background:#fbdcff;}
.next a{color:#292929;background:#FFF;}
.check-one-check{float:left;margin-top:30px;margin-left:10px;}
.check-all-check{margin-left:10px;}
.black{color:#000;}
.six td{text-align: center;}
.times{width:160px;}
.ten{width:90px;}
.pay_box{cursor:pointer;margin-top:15px;margin-left:13px;border:#e4e4e4 1px solid;width:100px;height:23px;text-align:center;line-height:23px;color:#000;font-size:14px;letter-spacing:1px;float: right;}
.pay_box:hover{background-image:url(../../images/home/images_16_Purchasepage/gou.png);width: 100px;height:23px;}
.aa{background-image:url(../../images/home/images_16_Purchasepage/gou.png); }
.del{color: #000;}