.center{min-width:1000px;width:100%;margin:0 auto;font-family:'微软雅黑';height: auto;}
.show{width:1000px;height:295px;margin-top:auto;margin:0 auto;}
.middle{ width:1000px;margin:0 auto;height:auto;}
.center_left{width:200px;float:left;fbackground:-moz-linear-gradient(top,#f6dff7,#FFF);background:-ms-linear-gradient(top,#f6dff7,#FFF);background:-webkit-linear-gradient(top,#f6dff7,#FFF);}
.center_left ul{width:200px;height:auto;margin:0;padding:0;}
.center_left ul .li_1{width:200px;height:40px;background:-moz-linear-gradient(top,#FFF,#c676d0);background:-ms-linear-gradient(top,#FFF,#c676d0);background:-webkit-linear-gradient(top,#FFF,#c676d0);text-align:center;}
.center_left ul li{width:167px;height:32px;background:url(../../images/home/images_15_professional/Titlebox.png);margin:0 auto;margin-bottom:20px;line-height:32px;}
.center_left ul .li_1 a{font-family:"宋体";font-size:22px;line-height:40px;margin-right:15px;}
.center_left ul li a{font-family:"宋体";font-size:20px;margin-left:15px;color:#000000;}
.center_left ul li .red{color:#000000;font-size:22px;font-family:"黑体";margin-left:10px;}
.center_left ul li .li_2{color:#000000;}
.center_left ul li:hover a{color:#d546d5;}

.center_right{margin-top: 30px;margin-left: 218px; min-height: 500px; }
.right_head{width:780px;height:40px;background:url(../../images/home/images_15_professional/titlebar.png);}
.right_head a{line-height:40px;font-family:"宋体";font-size:16px;margin-left:15px;padding-right:10px;}
.center_right ul li:hover{color:#d546d5;}
.center_right ul li a:hover{color:#d546d5;}
.grain{margin-top:5px;float:left;}
.text_1{margin-left:10px;line-height:30px;font-size:16px;font-family:"宋体";}
.text_2{margin-left:10px;line-height:30px;font-size:16px;font-family:"宋体";margin-left:100px;}
.text_3{margin-left:10px;line-height:30px;font-size:16px;font-family:"宋体";margin-left:40px;}
.center_rext{width:680px;height:auto;margin:0 auto;}
.center_rext h1{color:#990099;font-family:"宋体";font-size:24px;text-align:center;margin-top:50px;padding-bottom:30px;}
.center_rext p{font-family:"宋体";font-size:16px;color:#333;text-indent:2em;margin-bottom:-10px;line-height:35px;}
.page{min-width:600px;width:100%;heihgt:50px;text-align: center;}
.page a{font-family:"宋体";font-size:16px;color:#000;margin-right:20px;}
.page .page_1{color:#f739fe;text-decoration:underline;}
.page a:hover{color:#f739fe;text-decoration:underline;}


