
ul,li{list-style-type:none;}
a{text-decoration:none;}
body{margin:0;}

#full{width:100%;height:1000px;background:rgba(0, 0, 0, 0.3);position:fixed;z-index:300;}
.login{width:30%;height:345px;background:#FFF;position:relative;z-index:600;top:15%;margin: 0 auto;}
.login_header{width:100%;height:30px;background:#edecec;margin:0 auto;position: relative;}
.login_header .log{font-family:"微软雅黑";color:#666;font-size:12px;font-weight:600;width:345px;height:30px;line-height:30px;margin-left:15px;float:left;}
.login_header .close{width:30px;height:30px;top:5px;right:0px;position: absolute;}
.login_center{width:100%;height:auto;text-align:center;margin:0 auto;margin-top:20px;}
.list{width:245px;height:150px;margin:0 auto;}
.list input{width:245px;height:20px;font-size:10px;margin-top:20px;padding-left:10px;border:#CCC solid 1px;line-heihgt:20px;}
.list .l_username{width:245px;height:25px;background:url(../../../images/home/images_login/icon_user.png) no-repeat right;padding-left:5px;}
.list .password{width:240px;height:25px;background:url(../../../images/home/images_login/icon_coder.png) no-repeat right;}
.list .rmbuser{width:20px;height:18px;float:left;}
.list .rmbuser_1{float:left;font-family:"微软雅黑";font-size:9px;padding-top:22px;margin-bottom:12px;}
.list .rmbuser_2{float:right;font-family:"微软雅黑";font-size:9px;color:#4c6eb2;padding-top:22px;margin-bottom:12px;padding-right:5px;}
.list .sub{font-family:"微软雅黑";font-size:12px;width:245px;height:35px;border-radius:8px;background:#f145b7;color:#FFF;font-weight:600;border:none;outline:medium;}
.list .sub:hover{background:#cc33ff;}