/*lefthome.jsp用*/
.lefttab {
	width: 234px;
	margin:0;
}
.lefttab img { margin-right: 15px; }
.lefttab td { height:35px; }

/** 链接 **/
.lefttab a:link {
	color: #ff9900;
	FONT-SIZE: 12px;
	text-decoration:none;
}
.lefttab a:visited {
	color: #ff9900;
	FONT-SIZE: 12px;
	text-decoration:none;
}
.lefttab a:hover {
	color: #0056A9; 
	FONT-SIZE: 14px;
	text-decoration:underline;
	cursor:pointer;
}

.funtitle{
	text-align:center;
	padding-top:10px;
	margin: 0px 8px 0px 0px;
	font-family: 黑体;
	font-size: 14px;
	color: #ff9900;
}
.funbox{
	padding:12px 12px 0px 13px;
	border-bottom:0.9pt solid #ff9900;
	border-top:none;
	margin: 0px 8px 0px 8px;
	font-size: 12px;
	height: 35px;
}
.stepY{
	color: red;
}
.stepN{
	color: black;
}
/*lefthome.jsp结束*/

/*
 *其它包含左侧页面的用
 *right_head定义右侧头
 */
.leftMenu {
	width:234px;
	border-left: 0.9pt solid #46A0E5;
	border-right: 0.9pt solid #46A0E5;
	background-color: #F1F8FB;
	vertical-align: top;
}
.right_head{
	height:	20px;	
	vertical-align: middle;
}
/*结束*/

/*绿色标题*/
.green_title{
	color: #079a00;
	font-size: 14px;
	font-weight:bold;
	text-align:center;
	padding:13px;
}
/* 有标题的表格*/
.list_table {
	border-collapse: collapse;
	width:94%;
	FONT-SIZE: 10pt;
	COLOR: #000000;
	text-align:center;
}
.list_table td{
	border:#7cbbef  1px solid;
	FONT-SIZE: 10pt;
	COLOR: #000000;
	text-align:center;
	border-width:1px;
	padding:2px 3px 1px 3px;
}
.list_table_head{
	background:#b1d3f3;
	border:#7cbbef  1px solid;
	FONT-SIZE: 10pt;
	COLOR: #000000; 
	text-align:center;
	border-width:1px;
	height:21;
}
.rightfrm{
	height: 650px;
}

#color_main{width:100%;background:#FFF;}

/*表格开始*/
table,td {
	border-collapse:collapse;
}
.panelTable{
	width:100%;
}
.panelTable, .panelTable td {
	border:1px solid #46A0E5;
	/*line-height:20px;*/
	/*line-height:18px;*/
}
.panelTable td{
	/*padding:0 4px 0 4px;*/
}
.panelTh {
	background:url(../images/th_bg.png) repeat-x;
	height:22px;
	line-height:22px;
	color:#055a78;
	padding-left:12px;
}
.leftTd {
	text-align:left;
	padding-right:4px;
	line-height:28px;
	height:28px;
}
.centerTd {
	text-align:center;
	padding-right:4px;
	line-height:26px;
}
.rightTd {
	text-align:left;
	padding-left:2px;
	line-height:26px;
}
.buttonTd{
	padding:0 10px 0 10px;
}
.height10{
	height:10px;
	line-height:0;
	font-size:0;
}
.colTitle{
	height:22px;
	line-height:22px;
}
.odd,.even{
	height:22px;
	line-height:22px;
}
.odd{
	background-color:#F2F2F2;
}
.even{
}
.pic_div{width:140px;heigth:220px;overflow:hidden;border:#7cbbef  1px solid;}